<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" routerLink="/">Camera App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item " routerLinkActive="active">
        
          <a class="nav-link" routerLink="/camera" >{{'navbar.Cameras' | translate}} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/report" >{{'navbar.Reporting' | translate}}</a>
          </li> 
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/settings" >{{'navbar.Settings' | translate}}</a>
          </li>
    
      </ul>
      <ul class="navbar-nav">
      <li class="nav-item mr-3">
        <select #langSelect class="my-1 p-1" (change)="translate.use(langSelect.value)">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
        </select>
    </li>
      <li class="nav-item ">
        <a class="nav-link" >{{'navbar.Welcome' | translate}}, {{user}}</a>
      </li>
    <li class="nav-item ">
        <button type="button" class="btn btn-info" (click)="logout()">{{'navbar.Logout' | translate}}</button>
    </li>
  </ul>
     
      
    </div>
  </nav>